@font-face {
    font-family: Roboto-Bold;
    src: url('../../public/fonts/Roboto-Bold-webfont.woff') format('woff');
  }

  @font-face {
    font-family: Roboto-BoldItalic;
    /* src: url('Roboto-BoldItalic-webfont.woff') format('woff'),; */
    src: url('../../public/fonts/Roboto-BoldItalic-webfont.woff') format('woff');
  }

  @font-face {
    font-family: Roboto-Medium;
    src: url('../../public/fonts/Roboto-Medium-webfont.woff') format('woff');
  }

  @font-face {
    font-family: Roboto-MediumItalic;
    src: url('../../public/fonts/Roboto-MediumItalic-webfont.woff') format('woff');
  }

  @font-face {
    font-family: Roboto-Regular;
    src: url('../../public/fonts/Roboto-Regular-webfont.woff') format('woff');
  }

  @font-face {
    font-family: Roboto-Italic;
    src: url('../../public/fonts/Roboto-Italic-webfont.woff') format('woff');
  }

.containerGeneral{
    /* background-color: #20C197; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;

}
h1{
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #2781B8;
    text-align: center;
    /* margin-top: 20px; */

}

.container{
    text-align: center;
    
    margin-top: 60px;
}

.card_container_parent{
    height: 100vh;
    background-color: #EFF4F6;
    display: flex;
}

.card_container{
    margin: auto auto;    
}

.card-white{
    /* width: 50%; */
    width: 542px;
    height: 540px;
    margin-left: auto;
    margin-right: auto;

    background: #FFFFFF;
    border-radius: 26px;
}

/* .formInputSearch{
    text-align: center;
    height: 40px;
} */


.formInputSearch{
    text-align: center;
    width: 475px;
    justify-content: space-between;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.textInputSearch{
    background: #EFF4F6;
    border-radius: 8px;
    width: 424px;
    height: 40px;
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    /* line-height: 18px; */
    padding-left: 20px;
    border: none;
    outline-color:rgb(105, 150, 189);
    color: #454545;
    margin: 0;
}
.textInputSearch:hover{
    background: #e6eef0;
}

.textInputSearch::placeholder{
    color: #9F9F9F;
}

.textInputSearchDisabled{
    margin: 0;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    width: 414px;
    height: 40px;
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    padding-left: 20px;
}
.textInputSearchDisabled::placeholder{
    color: #9F9F9F;
}

/* ---------BOTONES----------- */

/* boton buscar */

.buttonSearch{
    margin: 0;
    padding: 0;
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 8px;
    background-color: #2781B8;
    border-width: 0;
    color: white;
    text-align: center;
}
.buttonSearch:hover{
    background-color: #3795d0;
    box-shadow: 0px 5px 14px -7px #276873;
}
.buttonSearch:active{
    background-color: #1b6da0;
}
.buttonSearch:disabled{
    background-color: #ffffff;
    color: #b6b6b6;
    border: 1px solid #C7D1E2;
}

.imageButton{
    padding: 0;
    margin: 0;
}
/* boton azul grande */

.buttonBlueGuardar{
    margin: 0;
    padding: 0;
    width: 200px;
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 8px;
    background-color: #2781B8;
    border-width: 0;
    color: white;
    text-align: center;
}
.buttonBlueGuardar:hover{
    background-color: #3795d0;
    box-shadow: 0px 5px 14px -7px #276873;
}
.buttonBlueGuardar:active{
    background-color: #1b6da0;
}
.buttonBlueGuardar:disabled{
    background-color: #ffffff;
    color: #b6b6b6;
    border: 1px solid #C7D1E2;
    box-shadow: none;
}


.buttonBlue{
    margin: 0;
    padding: 0;
    /* width: 200px; */
    width: 100%;
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 8px;
    background-color: #2781B8;
    border-width: 0;
    color: white;
    text-align: center;
}
.buttonBlue:hover{
    background-color: #3795d0;
    box-shadow: 0px 5px 14px -7px #276873;
}
.buttonBlue:active{
    background-color: #1b6da0;
}
.buttonBlue:disabled{
    background-color: #ffffff;
    color: #b6b6b6;
    border: 1px solid #C7D1E2;
    box-shadow: none;
}

/* boton rojo grande */

.buttonRed{
    margin: 0;
    padding: 0;
    /* width: 200px; */
    width: 100%;
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 8px;
    background-color: #FF414D;
    border-width: 0;
    color: white;
    text-align: center;
}
.buttonRed:hover{
    background-color: #ff535f;
    box-shadow: 0px 5px 14px -7px #f5607c;
}
.buttonRed:active{
    background-color: #d53843;
}
.buttonRed:disabled{
    background-color: #ffffff;
    color: #b6b6b6;
    border: 1px solid #C7D1E2;
}

/* boton gris grande */

.buttonGrey{
    margin: 0;
    padding: 0;
    /* width: 200px; */
    width: 48%;
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 8px;
    background-color: #e6e6e6;
    border-width: 0;
    color: #1c1c1c;
    text-align: center;
}
.buttonGrey:hover{
    background-color: #eeeeee;
    box-shadow: 0px 5px 14px -7px #b0b0b0;
}
.buttonGrey:active{
    background-color: #e4e4e4;
}
.buttonGrey:disabled{
    background-color: #ffffff;
    color: #b6b6b6;
    border: 1px solid #C7D1E2;
}

/* otros botones */

.buttonEnviar{
    background: #2781B8;
    border-radius: 10px;
    border: none;
    width: 40px;
    height: 40px;
}

.buttonX{
    background: #454545;
    border-radius: 10px;
    border: none;
    width: 40px;
    height: 40px;
}
.buttonX:hover{
    box-shadow: 0px 5px 14px -7px #3e3e3e;
}


.buttonSave{
    background: #2781B8;
    border-radius: 13px;
    width: 250px;
    height: 40px;
    border: none;

    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
 }

 .buttonSaveDisable{
    background: gray;
    border-radius: 13px;
    width: 250px;
    height: 40px;
    border: none;

    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
 }

/* CONTENEDOR DE BOTON */
 .containerButtonRecargar{
    box-sizing: border-box;
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
 }

/* ------ESPACIOS Y ALINEACION-------- */

.leftSpace{
    margin-left: 10px;
}

hr{
    margin: 0;
    padding: 0;
    height: 1px;
    background-color: rgb(182, 179, 179);
    border: none;
}


/* HeaderCotizacion */

.halfWidth{
    width: 50%;
}

.quotePrimeData{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 475px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
}
.NumberCotizacion{
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Regular';
    font-size: 20px;
    color: #000000;
}
.FechaCreacion{
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Italic';
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    text-align: right;
}

/* Datos del Header */
.containerDatos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    margin: 0 auto;
    padding: 7px 0;

    /*justify-content: space-between;
    display: flex;
    width: 462px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px; */
}

.Title{
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #2781B8;
    margin: 0;
    padding: 0;
    
    /* background-color: bisque; */
}

.Description{
    /* margin-top: -12px; */
    /* background-color: #2781B8; */
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    width: 100%;
    margin: 0;
    padding: 0;

}

.Cliente{
    width: 30%;
    height: 40px;
    margin: 0;
    padding: 0 15px;
    overflow:hidden;
}
.Responsable{
    width: 60%;
    height: 40px;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
.Horas{
    width: 10%;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: right;
 }

 /* Table */
 .titleTable{
     padding: 10px 0;
    background: #C7D1E2;
    /* height: 40px; */
 }
 .titleContainer{
    justify-content: space-between;
    display: flex;
    width: 482px;
    margin-left: auto;
    margin-right: auto;
    
    /*justify-content: space-between;
    display: flex;
    width: 462px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 40px; */
    /* background-color: rebeccapurple; */
 }
.titleRol{
    /* background-color: #20C197; */
    margin-top: 0;
    margin-bottom: 0;
}
.titleHora{
    /* background-color: #20C197; */
    margin-top: 0;
    margin-bottom: 0;
}

 .titleContainer p{
     text-align:justify;
     /* background-color: red; */
     font-family: 'Roboto-Bold';
     font-style: normal;
     font-weight: bold;
     font-size: 15px;
     line-height: 18px;
     color: #000000;
 }

 .containerTable{
     /* background-color: red; */
     justify-content: space-between;
     display: flex;
     width: 100%;
     height: 40px;
     padding-left: 32px;
     padding-right: 32px;
     padding-top: 0;
     padding-bottom: 0;
     margin: 0;
     box-sizing: border-box;

 }
 .containerRolHora{
    justify-content: space-between;
    display: flex;
    width: 100%;
    /* background-color: #0078b8; */
    align-items: center;
 }
 .tableRole{
    /* background-color: #2781B8; */
    margin: 0;
    display: inline-block;
 }
 .tableHours{
    /* background-color: #2781B8; */
    margin: 0;
    display: inline-block;

 }

 .lineaTable{
    width: 100%;
    height: 1px;
    background-color: #EAEAEA;
 }

 /* --------- INPUTS DE LA TABLA ------------- */
 .inputCell{
    background: #ffffff;
    border-radius: 8px;
    height: 28px;
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    /* line-height: 18px; */
    padding-left: 20px;
    border: 1px solid #dee3e4;
    outline-color:rgb(105, 150, 189);
    margin-right: 5px;
}

 .inputHours{
    width: 72px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.inputRole{
    width: 400px;
    padding-left: 8px;
    cursor: inherit;
}
.rowContainer{
    height: 36px;
    display: flex;
    padding: 0 30px;
}

.buttonRemoveRow{
    margin: 0;
    padding: 0;
    min-width: 28px;
    min-height: 28px;
    max-height: 28px;
    border-radius: 8px;
    background-color: #EFF0F8;
    border-width: 0;
    color: #454545;
    text-align: center;
}
.buttonRemoveRow:hover{
    background-color: #f5f5f5;
    box-shadow: 0px 5px 14px -7px #b0b0b0;
}


 /* Footer */
 .footerContainer{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    width: 469px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
    /* margin-top: 25px; */
 }
 
 .footerContainer p{
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #20C197;
    /* background-color: #2781B8; */
    margin-top: auto;
    margin-bottom: auto;
    
 }
 .footerContainerEditPadre{
    /* background-color: rgba(0, 0, 0, 0.2); */
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .footerContainerEdit{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 469px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
    /* margin-top: 12px; */
 }
 .footerContainerEdit p{
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #20C197;
    /* background-color: #2781B8; */
    margin-top: auto;
    margin-bottom: auto;
    
 }


 .containerIconBusqueda{
    width: 462px;
    height: 400px;
    /* background-color: #20C197;  */
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
 }
 .footerHoras{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #0078b8; */
 }

 /* Tabla Editable */
 .buttonAddContainer{
    /* background-color: #20C197; */
    text-align: center;
 }
 .buttonAdd{
    width: 482px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #008eae;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #0078b8;
 }
 
.containerTableEdit{
    background-color: #ffffff;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    height: 235px;
    overflow-y: scroll;
    margin: 0;
    width: 100%;
}
.containerAdvetencia{
    width: 100%;
     /* height: 40px; */
     padding: 32px;
     padding-top: 20px;
     padding-bottom: 20px;
     margin: 0;
     box-sizing: border-box;
     text-align: center;
}
.parrafoAdvertencia{
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}

/* Boton de DropDown */
.dropdownOption{
    background-color: transparent;
    border: none;
    
}
.dropdownOption:hover{
    background-color: transparent;
    border: none;
}
.dropdownOption:active{
    background-color: transparent;
    border: none;
}

/* ------- POPUP ---------- */

.popup_button_container{
    display: flex;
    justify-content: space-between;

    align-items: center;
    text-align: center;
    align-content: center;
    position: relative;
    /* background-color: rebeccapurple; */
    }

.boton_salir_container{
    display: inline-block;
    /* margin-right: 16px; */
    width: 48%;
    }

.texto_popup{
    text-align: center;
    padding-bottom: 20px;
    }


/*  pop-up  */

.popup_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup_itself{
    position: relative;
    padding: 32px;
    width: 40%;
    background-color: #ffffff;
    border-radius: 26px;

  }  

  @media only screen and (max-width: 900px) {
    .popup_itself{
        width: 60%;
    }

  }