
h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #2781B8;
    text-align: center;
    margin-top: 20px;

}

.container{
    text-align: center;
    margin-top: 60px;
}

.card-white{
    /* width: 50%; */
    width: 542px;
    height: 540px;
    margin-left: auto;
    margin-right: auto;

    background: #FFFFFF;
    border-radius: 26px;
}
.formInputSearch{
    text-align: center;
    /* background-color: #2781B8; */
}

.textInput{
    background: #EFF4F6;
    border-radius: 10px;
    width: 394px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    padding-left: 20px;
    border: none;
}

/* HeaderCotizacion */

.DatosNumberFecha{
    justify-content: space-between;
    display: flex;
    width: 462px;
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;
    /* height: 23px; */
}
.NumberCotizacion{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}
.FechaCreacion{
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.Title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #2781B8;
    /* background-color: bisque; */
}

.Desctiption{
    margin-top: -12px;
    /* background-color: #2781B8; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.containerDatos{
    justify-content: space-between;
    display: flex;
    width: 462px;
    /* background-color: gray; */
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
}
.Cliente{
    /* background-color: blueviolet; */
    width: 196px;
    height: 34px;  
}
.Responsable{
    width: 196px;
    /* background-color: red; */
    height: 34px; 
}
.Horas{
    width: 51.86px;
    height: 34px; 
 }

 /* Table */
 .titleTable{
    background: #C7D1E2;
    /* height: 40px; */
    
 }
 .titleContainer{
    justify-content: space-between;
    display: flex;
    width: 462px;
    margin-left: auto;
    margin-right: auto;
    /* height: 40px; */

    /* background-color: rebeccapurple; */
 }
 .titleContainer p{
     text-align:justify;
     /* background-color: red; */
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 15px;
     line-height: 18px;
     color: #000000;
 }

 .containerTable{
     /* background-color: red; */
     justify-content: space-between;
     display: flex;
     width: 462px;
     margin-left: auto;
     margin-right: auto;

 }

 /* Footer */
 .footerContainer{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 469px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
 }
 
 .footerContainer p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #20C197;
 }
 .containerIconBusqueda{
    width: 462px;
    height: 400px;
    /* background-color: #20C197;  */
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
 }

 /* Tabla Editable */
 .buttonAddContainer{
    /* background-color: #20C197; */
    text-align: center;
 }
 .buttonAdd{
    width: 446px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    text-align: center;

    color: #9F9F9F;
 }
 
.containerTableEdit{
    background-color: #20C197;
    height: 200px;
}

/* Boton de DropDown */
.dropdownOption{
    background-color: transparent;
    border: none;
    
}
.dropdownOption:hover{
    background-color: transparent;
    border: none;
}
.dropdownOption:active{
    background-color: transparent;
    border: none;
}
